<h2 id='title'>Selectize test</h2>

<h3>Normal usage with strings</h3>
<p>
  {{ember-selectize
    content=names
    selection=name
    placeholder="Select a name" }}
</p>
<p>Selected: {{name}}</p>

<h3>Normal usage with objects + <code>selection</code></h3>
<p>
  {{ember-selectize
    content=items
    optionValuePath="content.id"
    optionLabelPath="content.label"
    selection=item
    create-item="createAction"
    placeholder="Select an item" }}
</p>
<p>Selected: {{item.label}}</p>

<h3>Normal usage with objects + <code>value</code></h3>
<p>
  {{ember-selectize
    content=items
    optionValuePath="content.id"
    optionLabelPath="content.label"
    value=itemValue
    create-item="createAction"
    placeholder="Select an item" }}
</p>
<p>Selected: {{itemValue}}</p>

<button {{action "selectItem" 1}}>Select 1</button>
<button {{action "selectItem" 3}}>Select 3</button>

<h3>Multiple usage with objects + <code>selection</code></h3>
<p>
  {{ember-selectize
    multiple=true
    content=items
    optionValuePath="content.id"
    optionLabelPath="content.label"
    selection=itemValues
    create="createAction"
    placeholder="Select an item" }}
</p>
<p>Selected: <ul>{{#each itemValues as |v|}}<li>{{v.label}}</li>{{/each}}</ul></p>

<h3>Multiple usage with objects + <code>optionFunction</code> rendering</h3>
<p>
  {{ember-selectize
    multiple=true
    content=items
    optionValuePath="content.id"
    optionLabelPath="content.label"
    selection=itemValues
    create="createAction"
    optionFunction=getOption
    placeholder="Select an item" }}
</p>
<p>Selected: <ul>{{#each itemValues as |v|}}<li>{{v.label}}</li>{{/each}}</ul></p>

{{!--

Throws error but renders anyway.
See: https://github.com/emberjs/ember.js/issues/5534#issuecomment-81818954
<h3><code>optionTemplate</code> usage example</h3>
<p>
  {{ember-selectize
    content=items
    optionValuePath="content.id"
    optionLabelPath="content.label"
    selection=item
    optionTemplate="test"
    placeholder="Select an item" }}
</p>

--}}

<h3>Delimiter example</h3>
<p>
  {{ember-selectize
    persist=false
    multiple=true
    content=taggedContent
    selection=taggedValues
    delimiter=","
    create-item="createTag"}}
</p>
<p>Selected: {{taggedValuesString}}</p>

<h3>Optgroup example with <code>groupedContent</code></h3>
<p>
  {{ember-selectize
    optionValuePath="content.id"
    optionLabelPath="content.title"
    groupedContent=groupedContent
    selection=selectedPostGrouped}}
</p>
<p>Selected: {{selectedPostGrouped.title}}</p>
<button {{action "addPostGrouped"}}>Add post on "Another" category (groupedContent)</button>

<h3>Optgroup example with <code>optionGroupPath</code></h3>
<p>
  {{ember-selectize
    optionValuePath="content.id"
    optionLabelPath="content.title"
    content=posts
    optionGroupPath="content.category"
    selection=selectedPost}}
</p>
<p>Selected: {{selectedPost.title}}</p>

<button {{action "addPost"}}>Add post on "Another 2" category</button>
