<h2 id='title'>Selectize test</h2>

<p>{{ember-selectize
  content=controller.items
  optionValuePath="content.id"
  optionLabelPath="content.label"
  action='itemSelected'
  create="createAction"
  placeholder="Select an item" }}</p>
<p>Selected: {{item.label}}</p>

<p>{{ember-selectize
  content=controller.names
  action='nameSelected'
  placeholder="Select a name" }}</p>
<p>Selected: {{name}}</p>

<p>{{ember-selectize
  content=controller.items
  optionValuePath="content.id"
  optionLabelPath="content.label"
  value=controller.itemValue
  create="createAction"
  placeholder="Select an item" }}</p>
<p>Selected: {{itemValue}}</p>

<button {{action "selectItem" 1}}>Select 1</button>
<button {{action "selectItem" 3}}>Select 3</button>

<p>{{ember-selectize
  multiple=true
  content=controller.items
  optionValuePath="content.id"
  optionLabelPath="content.label"
  value=itemValues
  create="createAction"
  placeholder="Select an item" }}</p>
<p>Selected: {{itemValues}}</p>


<p>{{ember-selectize
  multiple=true
  content=controller.items
  optionValuePath="content.id"
  optionLabelPath="content.label"
  value=itemValues
  create="createAction"
  optionFunction=getOption
  placeholder="Select an item" }}</p>
<p>Selected: {{itemValues}}</p>
